.map {
  &__wrapper {
    position: relative;
  }
  margin-top: 77px;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 80px;
    padding: 0px 70px;
    font-weight: 600;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  }
  &__offices {
    font-size: 2.4rem;
    cursor: pointer;
  }
  &__offices-img {
    margin-left: 13px;
    transition: transform 0.3s ease;
  }
  &__offices-img--rotated {
    transform: rotate(180deg);
  }
  &__map {
    position: relative;

    width: 100%;
    height: 600px;
    margin-top: 90px;
    transition: opacity 0.3s ease;
  }
  &__map svg {
    width: 100%;
    height: 100%;
  }
  &__map--dimmed {
    opacity: 0.3;
  }
  &__cities {
    display: none;
    align-items: flex-start;
    justify-content: space-between;
    background-color: white;
    z-index: 10;
    padding: 30px 70px;
    margin-top: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 1.8rem;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
  }
  &__cities--visible {
    display: flex;
  }
}
.cities {
  &__item {
    padding-bottom: 5px;
  }
  &__item:first-child {
    font-weight: 700;
  }
}

.regions {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 30px;
  font-size: 1.8rem;

  &__item {
    display: block;
    height: 100%;

    padding: 30px 0px;
    cursor: pointer;
  }
  &__item:hover {
    color: #a30c33;
  }

  &__item--active {
    border-bottom: 3px solid #a30c33;
  }
}
.regions--dimmed {
  opacity: 0.3;
}
