.numbers {
  display: none;
  margin-top: 45px;
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    font-size: 4rem;
    color: #a30c33;
    font-weight: 600;
  }
  &__text {
    font-size: 1.6rem;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    max-width: 180px;
  }
}
@media (max-width: 768px) {
  .numbers {
    display: block;
  }
}
