* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Proxima Nova Condensed', sans-serif;
}

a {
  list-style: none;
  text-decoration: none;
  list-style-type: none;
}
